<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
 
  <variable name="myvar" value="myvalue"/>
 -->
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.-->
    <target xsi:type="File" name="f" fileName="c:\Temp\logs\SaprHttpClient{shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}
            ${onexception:EXCEPTION OCCURRED\:
            ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    <target name="Console" xsi:type="Console"  layout="${longdate} ${level} ${message}"/>
    <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkBlue" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <!--<target name="Console" xsi:type="Console"  layout="${longdate} ${level} ${callsite} ${message}"/>-->

    <!--<target xsi:type="NLogViewer" name="viewer" includeSourceInfo="true" layout="${longdate}|${level}|${message}" address="udp://192.168.0.104:9999"/>-->
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="Console" final="true" />
    <!-- add your logging rules here -->
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Trace" final="true" />
    <!-- BlackHole without writeTo -->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"-->
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="colouredConsole" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />
  </rules>
</nlog>
